.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}
.TodoApp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: space-between;
}
.taskList {
  display: flex;
  background-color: white;
}
.taskInfo {
  background-color: cadetblue;
}
.buttonSection {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.AddTodoSection {
  display: flex;
  flex-direction: column;
}